*.bed
*.beta
*.bim
*.cutoffs
*.dot
*.eigen*
*.exclude
*.fam
*.genes
*.grm.*
*.gz
*.haps
*.joblog
*.log
*.map
*.matches
*.names
*.o*
*.out
*.pdf
*.pheno
*.po*
*.ranks
*.sample
*.snp
*.summary
*.txt
*.typed
*joblist*
.rsync-filter
data/
locate.db
stage
